@font-face {
    font-family: 'Hanson Bold';
    src: url('/assets/fonts/Hanson-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanson Bold', sans-serif;
}
*::selection{
    color: white;
    background-color: black;
}
html,
body {
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 15vh;
}

#page1 h1{
    font-size: 13vw;
    text-transform: uppercase;
    font-family: 'Hanson Bold', sans-serif;
    line-height: 23vh;
    background-color: black;
}